* {
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #03115E;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.rectangle {
    height: 8rem;
    width: 100%;
    background-color: #0A123E ;
    z-index: -1;
}

.nav-header {
  background-color: #0A123E;
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  width: 100%;
}



.nav-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header .gauche {
  display: flex;
  align-items: center;
}

.nav-header .logo-txt {
  font-size: 20px;/* Ajoutez une marge à droite si nécessaire */
}

.nav-header .navbar {
  display: flex; /* Afficher les rubriques principales en ligne */
  align-items: center; /* Aligner les rubriques principales verticalement */
}

.nav-header .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-header .navbar li {
  margin: 0 20px;
}

.nav-header .navbar a {
  text-decoration: none;
}

/* Styles pour le menu déroulant */
.nav-header .navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #0A123E;
  min-width: 200px;
  z-index: 1;
  top: 100%;
}

.nav-header .navbar .dropdown:hover .dropdown-content {
  display: block;
}

.nav-header .navbar .dropdown-content li {
  margin: 0;
  color: #C69E0F;
}

.nav-header .navbar .dropdown-content a {
  padding: 10px;
  display: block;
  color: #C69E0F;
  text-transform: uppercase;
}

.nav-header .navbar .dropdown-content a:hover {
  text-decoration: underline;
  color: white;
}

/* Styles spécifiques au logo et au titre */
.nav-header .img-header {
  max-width: 100px; /* Ajustez la largeur de l'image au besoin */
}

.nav-header .titre-header {
  font-size: 20px;
  color: #C69E0F;
  font-family: 'Eczar', sans-serif;
}

/* Styles pour les liens */
.nav-header .navbar a {
  text-decoration: none;
  color: #C69E0F;
  text-transform: uppercase;
}

.nav-header .navbar a:hover {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}


.navbar {
  position: absolute;
  right: 2.5rem;
}

.color {
  color: #C69E0F;
}





.hoverphoto {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 600px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
}

.titrehover, .texthover {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.titrehover {
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
}

.texthover {
    margin-top: 0.5rem;
    line-height: 1.4rem;
}

.voirplustxt {
    background-color: #C69E0F;
    color: #0A123E;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-transform: uppercase;
}


.voirplustxt:hover {
    background-color: #96780c;
    color: #0A123E;
    transform: scale(0.95);
}

.voirplustxt:visited {
    background-color: #96780c;
    color: #0A123E;
    transform: scale(0.95);
}

.colonnedroite {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.presentation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8rem;
}


.txt {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.photomap {
    max-width: 800px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px black;    
}


.emplacement {   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
}

.map {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 8rem;
}












footer {
  background-color: #0A123E;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
}

.img-footer {
  max-width: 100px;
  margin-left: 3rem;
}

.copyright {
  font-size: 10px;
  color: #C69E0F;
} 

.copyright, .img-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-right {
  color: #C69E0F;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; /* Centre verticalement les listes */
  margin-left: 5rem;
}

.footer-left {
  margin-left: 2rem;
}

.contactpropos li, .confidentiel li{
  list-style: none;
  margin: 0.4rem ;
}

.contactpropos {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30rem;
  bottom: 1rem;
}

.confidentiel {
  display: flex;
  flex-direction: column;
}

.footer-content {
  margin-right: 5rem;
}

.img-footer{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}


.logohautfrance {
  max-width: 80px;
  position: absolute;
  right: 2rem;
  bottom: 13rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  position: relative;
  top: 150px;
}
.resp{
  color: white;
  line-height: 300%;
  padding: 0 ;
  margin: 0;
  
  }
  .resp {
  width: 100%;
  text-align: center;
  }
  .nav-link{
  padding: 0 50px;
  }
  a{
  color: #96780c;
  }
  .logo-res{
    display: none;
  }
  .resp{
    display: none;
    }




@media screen and (min-width: 768px){

  }
  
  
  @media screen and (max-width: 768px) {
    header {
      display: none;
    }
    body .rectangle2 {
      height: 8rem;
      width: 150%;
      background-color: #0A123E ;
      z-index: -1;
    }
  
    body .logohautfrance {
      display: none;
    }
  
    body .contain-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    body .rectangle2, body .titre-res {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
    body .titre-res {
      color: #C69E0F;
      font-family: 'Eczar', sans-serif;
      margin-top: -4rem;
      z-index: 2;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    body .rectangle2 {
      z-index: -1;
    }
  
    body .img-res {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      z-index: 1;
    }
  
    body .logo-res {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100px;
      height: 100px;
      margin-top: -1.5rem;
    }
  
    body .colonnehaut {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: -2rem;
    }
  
    body {
      width: 100%;
    }
    html {
      width: 150%;
    }
    .photomap {
      max-width: 500px;
      max-height: 200px;
      border-radius: 10px;
      box-shadow: 0px 0px 25px black; 
    }

    .hoverphoto {
      width: 500px;
      height: 250px;
    }
    .bouton {
      margin-top: 2rem;
    }
    .colonnedroite {
      margin-top: 4rem;
    }
    .contactpropos {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .confidentiel {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: 5rem;
    }
  
    .footer-content {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .footer-global {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .resp::before{
      content: "MENU ↓" url(assets/img/fleche-vers-le-bas.png);
  
      width: 0;
      height: 0;
      
      border-right: 16px solid transparent;
      border-left: 16px solid transparent;
      
      /* border-top: 20px solid #ff8800;
      padding: 0 20px; */
      
  }
  .ville::before{
    content: "Ville ↓" ;
  
    width: 0;
    height: 0;
    text-align: left;
    
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    
    /* border-top: 20px solid #ff8800;
    padding: 0 20px; */
    
  }
  .resp{
    display: block;
  }
  .ville{
    display: none;
    color: #96780c;
  
  }
  .resp:hover .nav-link {
    display: block;
  }
  .resp:hover .ville {
    display: block;
  }
  .ville:hover .nav-link1 {
    display: block;
  } 
  .ville:hover{
    color: white;
  }
  .nav-link {
    display: none;
    text-align: center;
    border-top: 1px solid black;
  } 
  .nav-link1 {
    display: none;
    text-align: center;
    border-top: 1px solid black;
  } 
    

  } 





















@font-face {
    font-family: 'Montserrat'; /* Donnez un nom à votre police */
    src: url('../../../../../../police/Montserrat/static/Montserrat-Bold.ttf') format('truetype'); /* Spécifiez le chemin vers le fichier de police WOFF */
    /* Vous pouvez également inclure d'autres formats de police comme WOFF2 si nécessaire */
}

@font-face {
    font-family: 'Eczar'; /* Donnez un nom à votre police */
    src: url('../../../../../../police/Eczar/static/Eczar-Bold.ttf') format('truetype'); /* Spécifiez le chemin vers le fichier de police WOFF */
    /* Vous pouvez également inclure d'autres formats de police comme WOFF2 si nécessaire */
}