* {
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #03115E;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.rectangle {
    height: 8rem;
    width: 100%;
    background-color: #0A123E ;
    z-index: -1;
}

.nav-header {
  background-color: #0A123E;
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  width: 100%;
}



.nav-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header .gauche {
  display: flex;
  align-items: center;
}

.nav-header .logo-txt {
  font-size: 20px;/* Ajoutez une marge à droite si nécessaire */
}

.nav-header .navbar {
  display: flex; /* Afficher les rubriques principales en ligne */
  align-items: center; /* Aligner les rubriques principales verticalement */
}

.nav-header .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-header .navbar li {
  margin: 0 20px;
}

.nav-header .navbar a {
  text-decoration: none;
}

/* Styles pour le menu déroulant */
.nav-header .navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #0A123E;
  min-width: 200px;
  z-index: 1;
  top: 100%;
}

.nav-header .navbar .dropdown:hover .dropdown-content {
  display: block;
}

.nav-header .navbar .dropdown-content li {
  margin: 0;
  color: #C69E0F;
}

.nav-header .navbar .dropdown-content a {
  padding: 10px;
  display: block;
  color: #C69E0F;
  text-transform: uppercase;
}

.nav-header .navbar .dropdown-content a:hover {
  text-decoration: underline;
  color: white;
}

/* Styles spécifiques au logo et au titre */
.nav-header .img-header {
  max-width: 100px;  /* Ajustez la largeur de l'image au besoin */
  z-index: 1;
}

.nav-header .titre-header {
  font-size: 20px;
  color: #C69E0F;
  font-family: 'Eczar', sans-serif;
}

/* Styles pour les liens */
.nav-header .navbar a {
  text-decoration: none;
  color: #C69E0F;
  text-transform: uppercase;
}

.nav-header .navbar a:hover {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}


.navbar {
  position: absolute;
  right: 2.5rem;
}

.color {
  color: #C69E0F;
}

.photowelsh {
    width: 400px;
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 0px 25px black;
}

.colonnegauche {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.colonnedroite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.presentation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10rem;
    margin-bottom: 10rem;
}


.txt, .titrewelsh {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 15px black;
}

.titrewelsh {
    font-size: 28px;
    font-weight: bold;
}

.souligne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -3rem;
  margin-bottom: 2.5rem;
  width: 45%; /* La ligne s'étend sur toute la largeur de .titre */
  height: 3px;
  border-radius: 5px;
  background-color: #C69E0F; 
  text-shadow: 0px 0px 15px black;
}

.txt {
    line-height: 1.5rem;
}























.titreI, .titre1, .titre2, .titre3, .titre4, .titre5, .titre6, .titre7, .titre8, .titre9, .titre10 {
    font-size: 18px;
    color: #C69E0F;
    font-weight: bold;
    display: flex;
}

.titreI, .listeI {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ligne1, .ligne2, .ligne3, .ligne4, .ligne5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.listeI li, .liste1 li, .liste2 li, .liste3 li, .liste4 li, .liste5 li, .liste6 li, .liste7 li, .liste8 li, .liste9 li, .liste10 li {
    color: white;
    width: 300px;
    list-style: circle;
    margin-bottom: 3rem;
}
.resp{
  color: white;
  line-height: 300%;
  padding: 0 ;
  margin: 0;
  
  }
  .resp {
  width: 100%;
  text-align: center;
  }
  .nav-link{
  padding: 0 50px;
  }
  a{
  color: #96780c;
  }
  .logo-res{
    display: none;
  }
  .resp{
    display: none;
    }

@media screen and (min-width: 768px){

    }
    
    
    @media screen and (max-width: 768px)  {
      header {
        display: none;
      }
      body .rectangle2 {
        height: 8rem;
        width: 150%;
        background-color: #0A123E ;
        z-index: -1;
      }
    
      body .logohautfrance {
        display: none;
      }
    
      body .contain-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      body .rectangle2, body .titre-res {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
      }
      body .titre-res {
        color: #C69E0F;
        font-family: 'Eczar', sans-serif;
        margin-top: -4rem;
        z-index: 2;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
      }
    
      body .rectangle2 {
        z-index: -1;
      }
    
      body .img-res {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 1;
      }
    
      body .logo-res {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100px;
        height: 100px;
        margin-top: -1.5rem;
      }
    
      body .colonnehaut {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -2rem;
      }
    
      body {
        width: 100%;
      }
    
      .content {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .contactpropos {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .confidentiel {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 15rem;
      }
    
      .footer-content {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }
    
      .footer-global {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
      }
    
      html {
        width: 150%;
      }
      .ligne1, .ligne2, .ligne3, .ligne4, .ligne5 {
        width: 50%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .souligne {
        margin-top: 1rem;
    }
    .colonnedroite {
        margin-top: 2rem;
    }
    .photowelsh {
        width: 450px;
        height: 450px;
    }
    .resp::before{
      content: "MENU ↓" url(assets/img/fleche-vers-le-bas.png);
  
      width: 0;
      height: 0;
      
      border-right: 16px solid transparent;
      border-left: 16px solid transparent;
      
      /* border-top: 20px solid #ff8800;
      padding: 0 20px; */
      
  }
  .ville::before{
    content: "Ville ↓" ;
  
    width: 0;
    height: 0;
    text-align: left;
    
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    
    /* border-top: 20px solid #ff8800;
    padding: 0 20px; */
    
  }
  .resp{
    display: block;
  }
  .ville{
    display: none;
    color: #96780c;
  
  }
  .resp:hover .nav-link {
    display: block;
  }
  .resp:hover .ville {
    display: block;
  }
  .ville:hover .nav-link1 {
    display: block;
  } 
  .ville:hover{
    color: white;
  }
  .nav-link {
    display: none;
    text-align: center;
    border-top: 1px solid black;
  } 
  .nav-link1 {
    display: none;
    text-align: center;
    border-top: 1px solid black;
  } 
    
    }  





































footer {
  background-color: #0A123E;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
}

.img-footer {
  max-width: 100px;
  margin-left: 3rem;
  z-index: 1;
}

.copyright {
  font-size: 10px;
  color: #C69E0F;
} 

.copyright, .img-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-right {
  color: #C69E0F;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; /* Centre verticalement les listes */
  margin-left: 5rem;
}

.footer-left {
  margin-left: 2rem;
}

.contactpropos li, .confidentiel li{
  list-style: none;
  margin: 0.4rem ;
}

.contactpropos {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30rem;
  bottom: 1rem;
}

.confidentiel {
  display: flex;
  flex-direction: column;
}

.footer-content {
  margin-right: 5rem;
}

.img-footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;

  }
  
  .logohautfrance {
    max-width: 80px;
    position: absolute;
    right: 2rem;
    bottom: 13rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  footer {
    position: relative;
    top: 150px;
  }
  

  @font-face {
    font-family: 'Montserrat'; /* Donnez un nom à votre police */
    src: url('../../../../../police/Montserrat/static/Montserrat-Bold.ttf') format('truetype'); /* Spécifiez le chemin vers le fichier de police WOFF */
    /* Vous pouvez également inclure d'autres formats de police comme WOFF2 si nécessaire */
}

@font-face {
    font-family: 'Eczar'; /* Donnez un nom à votre police */
    src: url('../../../../../police/Eczar/static/Eczar-Bold.ttf') format('truetype'); /* Spécifiez le chemin vers le fichier de police WOFF */
    /* Vous pouvez également inclure d'autres formats de police comme WOFF2 si nécessaire */
}